mixin about-numbers()
  .c-numbers.block-size
    .c-numbers__wrapper
      h4.c-numbers__title About us in numbers 
      .c-numbers__description 
        p.e-paragraph.e-paragraph--width 5 years of experience
        p.e-paragraph.e-paragraph--width 123 created sites
        p.e-paragraph.e-paragraph--width 21 supported sites
