mixin header(args)
	header.c-header.js-lock-padding 
		.c-header__wrapper.block-size 
			.c-header__logo 
				+logo()
			.c-header__navigation
				.c-burger
					.c-burger__wrapper
						span
				+navigation()
				+language()

