mixin landing-about()
  section.c-about.block-size
    .c-about__wrapper
      .c-about-card
        .c-about-card__background 
          img(src="./assets/images/who-we-are.png" alt="computer")
        .c-about-card__description 
          +description()
