mixin language(args)
	.c-lang
		.c-lang__wrapper
			.c-lang__btn
				input(type="button" name="ua" value="UA").c-lang__btn__input
			.c-lang__line 
				span /
			.c-lang__btn
				input(type="button" name="en" value="EN").c-lang__btn__input