mixin main-bunner(args)
    .main-bunner 
        .main-bunner__wrapper
            .main-bunner__name-company
                h1.main-bunner__title WEB FOR YOU
                span.main-bunner__subtitle.js-lang-subtitle creating the future today