mixin portfolio-cards(args)
	.c-card
		.c-card__front
			img(src='./assets/images/alpine.jpg' alt='')
		.c-card__back
			a.c-card__title(href='https://figmatemplate.com/alpine-figma-website-template/' target='_blank') Media marketing website
			p.c-card__description
				| Technology trends have the potential to drive significant opportunity
	.c-card
		.c-card__front
			img(src='./assets/images/global-net.jpg' alt='')
		.c-card__back
			a.c-card__title(href='https://www.theglobal.net/' target='_blank') Internet provider website
			p.c-card__description
				| Montana&apos;s premier high speed internet service provider
	.c-card
		.c-card__front
			img(src='./assets/images/herald.jpg' alt='')
		.c-card__back
			a.c-card__title(href='https://heralduk.com/' target='_blank') Investment management website
			p.c-card__description
				| The company specializes in achieving capital growth through global investing
	.c-card
		.c-card__front
			img(src='./assets/images/jlen.jpg' alt='')
		.c-card__back
			a.c-card__title(href='https://jlen.com/' target='_blank') Environmental technologies website
			p.c-card__description
				| The website for an environmental infrastructure investment fund company
	.c-card
		.c-card__front
			img(src='./assets/images/velasca.jpg' alt='')
		.c-card__back
			a.c-card__title(href='https://www.velasca.com/' target='_blank') Product landing page
			p.c-card__description
				| Men&rsquo;s exclusive shoes made in Italia
	.c-card
		.c-card__front
			img(src='./assets/images/zee-dog.jpg' alt='')
		.c-card__back
			a.c-card__title(href='https://www.zeedog.com/' target='_blank') Pet products website
			p.c-card__description
				| Accessories for dogs and their owners