mixin projects(args)
	.c-projects
		.c-projects__wrapper
			p.c-projects__title OUR PROJECTS 
			.c-projects__block
				.c-projects__block__wrapper
					.c-projects__block__item
						img.e-projects__block__image(src="./assets/images/top-technologies.jpg", alt="top technologies website")
						a(href="https://venturebeat.com/" target="_blank").e-projects__block__title.e-block__title--position1 TECHNOLOGIES
						p.e-projects__block__description It is considered as one of the well known and popular website for providing quality information related to new gadgets and technology news
					.c-projects__block__item
						img.e-projects__block__image(src="./assets/images/data-analytics.jpg", alt="top technologies website")
						a(href="https://www.datacenterdynamics.com/" target="_blank").e-projects__block__title.e-block__title--position2 ANALYTICS
						p.e-projects__block__description This website is the third most popular media on the internet providing news related to the latest trends of technology
					.c-projects__block__item
						img.e-projects__block__image(src="./assets/images/blockchain.jpg", alt="top technologies website")
						a(href="https://www.blockchain.com/" target="_blank").e-projects__block__title.e-block__title--position3 BLOCKCHAIN
						p.e-projects__block__description This website is useful and the most popular technology website in the world of internet which helps bloggers and tech blog owners to get...
			.c-projects__button
				a(href="./portfolio.html" target="_blank").c-projects__button__text See all our 123 works