mixin services-f-a-q(args)
    .f-a-q 
        .f-a-q__heading.block-size 
            h3.f-a-q__heading__title F. A. Q.
        .f-a-q__wrapper.block-size 
            .f-a-q__question-item
                h4.f-a-q__question-title Question 1
                p.f-a-q__question-p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum labore nulla accusamus! Possimus ut sunt consequuntur maiores suscipit. Nam, non debitis. Excepturi atque a repellendus quis repudiandae! Necessitatibus possimus, voluptatem incidunt consequuntur nemo, labore dolorem, eius nihil quas sapiente ipsum?
            .f-a-q__question-item
                h4.f-a-q__question-title Question 2
                p.f-a-q__question-p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque dolor ipsum consequuntur veniam obcaecati itaque amet tempore! A, quasi distinctio!
            .f-a-q__question-item
                h4.f-a-q__question-title Question 3
                p.f-a-q__question-p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis dolores blanditiis obcaecati rem fuga ullam nulla necessitatibus quia at consequatur inventore voluptatibus cupiditate beatae, atque assumenda cumque similique magnam a aperiam? Eum soluta nisi corrupti odio laboriosam, ipsa sint harum sunt explicabo earum totam aperiam.
                p.f-a-q__question-p Autem nemo nostrum hic odio dolor sit est nihil? Facere ad explicabo quas consequuntur sequi quam error reiciendis repellendus enim. Possimus enim ad delectus perspiciatis?
            .f-a-q__question-item
                h4.f-a-q__question-title Question 4
                p.f-a-q__question-p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, ut?
            .f-a-q__question-item
                h4.f-a-q__question-title Question 5
                p.f-a-q__question-p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quisquam voluptates, ex ut voluptatibus iure ullam voluptate iusto obcaecati corporis repudiandae dolorum optio velit similique laboriosam nemo vel unde accusantium officiis dolorem commodi error. Dicta.

