mixin services-list(args)
	.services
		.services__wrapper.block-size 
			.services__heading
				h2.services__title OUR SERVICES
					//-  .services__backgr
			.services__field
				.services__service
					.services__service__img
					.services__service__name 
						p.services__service__p Website development
					.services__service__description
						p.services__service__p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusamus facilis omnis dolorem sunt quod placeat dicta ipsum!
				.services__service
					.services__service__img
					.services__service__name 
						p.services__service__p Website development
					.services__service__description
						p.services__service__p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusamus facilis omnis dolorem sunt quod placeat dicta ipsum!
				.services__service
					.services__service__img
					.services__service__name 
						p.services__service__p Website development
					.services__service__description
						p.services__service__p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusamus facilis omnis dolorem sunt quod placeat dicta ipsum!
				.services__service
					.services__service__img
					.services__service__name 
						p.services__service__p Website development
					.services__service__description
						p.services__service__p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusamus facilis omnis dolorem sunt quod placeat dicta ipsum!
				.services__service
					.services__service__img
					.services__service__name 
						p.services__service__p Website development
					.services__service__description
						p.services__service__p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusamus facilis omnis dolorem sunt quod placeat dicta ipsum!
				.services__service
					.services__service__img
					.services__service__name 
						p.services__service__p Website development
					.services__service__description
						p.services__service__p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusamus facilis omnis dolorem sunt quod placeat dicta ipsum!