mixin social-block(args)
	.c-social-block 
		.c-social-block__title 
			+title({classList: "e-title--footer", content: "Socials"})
		.c-social-block__content 
			+link({classList: "e-link--footer", href: "https://uk-ua.facebook.com/", svg: "icon-facebook", svgClassList: "icon icon-facebook", content: "facebook"})
			+link({classList: "e-link--footer", href: "https://www.instagram.com/", svg: "icon-twitter", svgClassList: "icon icon-twitter", content: "twitter"})
