mixin about-us-text (args)
    .e-about-us-text
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. At ornare mauris, egestas sit amet et enim sit. Nunc tortor mauris integer erat id et vestibulum, at. Metus venenatis elementum est posuere auctor tristique congue. Amet, vitae, pretium dignissim vestibulum. Bibendum quis vel sed ornare egestas.
        p Scelerisque hendrerit vulputate massa tincidunt in velit blandit. Viverra duis feugiat ridiculus ut sed. Dui leo volutpat sit urna. Quis rhoncus et tincidunt sed a neque tortor id sed. Dolor velit erat mollis pharetra porta in tempus pellentesque. Viverra vulputate velit ultrices neque leo elit lacus consequat.
        p Arcu tristique eu tortor fringilla senectus. Pellentesque sociis sed auctor ac, turpis a eu. Nec consectetur suscipit tellus nunc magna a magnis ut risus. Risus vel viverra odio aliquam suspendisse leo ut. Massa sed porttitor est volutpat. Imperdiet vel proin orci pellentesque vitae. 